
<div class="heading">
  <div class="container">
     <img src="https://i.imgur.com/EujkzkY.png" alt="Bob's Burger's image" height="300" width="900">
  </div>


<div class="burgerList">
  <ul id="burgerList">
    {{#each burgerData}}
      {{#unless this.devoured}}
        <li>
          {{burger_name}}
          <button class="devour_it" data-id="{{id}}">Eat Me!</button>
        </li>  
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div class="devourList">
  <ul>
    {{#each burgerData}}
      {{#if this.devoured}}
        <li>
          {{burger_name}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<h2>Add a Burger</h2>
  <form class="create-form" method="POST" action="/burger/create">

    <div class="form-group">
      <label for="burger">Burger Name:</label>
      <input type="text" id="burgerName" name="burger_name"> 
    </div>

    <button type="submit">Add Burger</button>
  </form>


<script>
  var burgerList= $('#burgerList');
  burgerList.on('click', ".devour_it", function(event) {
    const burgerId = $(this).attr('data-id');
    $.ajax({
      method: "PUT",
      url: `/burger/update/${burgerId}`
    }).done(response => {
      window.location.reload()
    })
  });
</script>
